---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

import { getLang, t, langStaticPaths } from "../../i18n";

export const getStaticPaths = langStaticPaths;

const lang = getLang(Astro);
const dict = t(lang);

const pageTitle = dict.page.blogTitle;
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle} lang={lang}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost
          date={post.data.pubDate.toLocaleDateString()}
          url={`/posts/${post.id}/`}
          title={post.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
